html
{
	background-color: #000000;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#000000 ,#000000 100%);
	background: -moz-linear-gradient(left,#000000 ,#000000 100%);
	background: -ms-linear-gradient(left,#000000 ,#000000 100%);
	background: -o-linear-gradient(left,#000000 ,#000000 100%);
	background: linear-gradient(to right,#000000 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF000000', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	margin-bottom: 63px;
}

#pu748
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u748
{
	z-index: 5;
	width: 301px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u748_img
{
	padding-right: 1px;
}

#menuu1148
{
	z-index: 7;
	width: 446px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 396px;
}

#u1194
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1197
{
	width: 147px;
	padding-bottom: 17px;
}

#u1197:hover
{
	margin: 0px;
}

#u1197:active
{
	margin: 0px;
}

#u1199-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1197:hover #u1199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1197:active #u1199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1239
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u1242
{
	width: 147px;
	padding-bottom: 17px;
}

#u1197.MuseMenuActive,#u1242:hover
{
	margin: 0px;
}

#u1242:active
{
	margin: 0px;
}

#u1243-4
{
	width: 133px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1197.MuseMenuActive #u1199-4,#u1242:hover #u1243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1242:active #u1243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1245
{
	z-index: 20;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 133px;
}

#u1242:hover #u1245
{
	margin: 0px -10000px 0px 0px;
}

#u1242:active #u1245
{
	margin: 0px -10000px 0px 0px;
}

#u1242.MuseMenuActive #u1245
{
	margin: 0px -10000px 0px 0px;
}

#u1240
{
	width: 120px;
	top: 34px;
}

#u1247
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1247:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1241,#u1246,#u1446
{
	width: 120px;
}

#u1447
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1247.MuseMenuActive,#u1447:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1447.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1249-4,#u1448-4
{
	width: 110px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1170
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u1173
{
	width: 148px;
	padding-bottom: 17px;
}

#u1242.MuseMenuActive,#u1173:hover
{
	margin: 0px;
}

#u1173:active
{
	margin: 0px;
}

#u1173.MuseMenuActive
{
	margin: 0px;
}

#u1175-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1242.MuseMenuActive #u1243-4,#u1173:hover #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1173:active #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1173.MuseMenuActive #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1265-5
{
	z-index: 41;
	width: 665px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 263px;
}

#pu473-3
{
	width: 0.01px;
	position: relative;
}

#u473-3
{
	z-index: 2;
	width: 3px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 284px;
	left: 794px;
}

#u1453
{
	z-index: 46;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1455
{
	z-index: 47;
	width: 959px;
	height: 173px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 646px;
}

#u1456-10
{
	z-index: 48;
	width: 929px;
	min-height: 119px;
	line-height: 1.4;
	color: #FFFF00;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 646px;
	left: 20px;
}

#u1456-2
{
	font-size: 30px;
	font-weight: bold;
}

#u1456-4,#u1456-6,#u1456-8
{
	font-size: 24px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

