@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #FFFF00;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.75px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 71px;
}

#u1686
{
	z-index: 2;
	width: 301px;
	margin-left: 40px;
}

#u1686_img
{
	padding-right: 1px;
}

#u1689-4
{
	z-index: 4;
	margin-left: 40px;
	top: -5px;
	margin-bottom: -5px;
}

#u1883-4
{
	z-index: 8;
	margin-left: 48px;
	top: -6px;
	margin-bottom: -6px;
}

#u1694
{
	z-index: 28;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 16px;
	margin-top: 16px;
	position: relative;
}

#pu1824-3
{
	width: 0.01px;
	left: -48px;
	margin-top: 7px;
	position: relative;
}

#u1824-3
{
	z-index: 29;
	width: 4px;
	min-height: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
}

#u1857
{
	z-index: 32;
	width: 321px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 64px;
	padding: 18px 13px 52px;
}

#u1865-8
{
	z-index: 43;
	width: 319px;
	min-height: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 1.4;
	color: #FFFF00;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1862-10
{
	z-index: 33;
	width: 319px;
	min-height: 92px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 1.4;
	color: #FFFF00;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 15px;
	position: relative;
}

#u1865-2,#u1862-2
{
	font-size: 30px;
	font-weight: bold;
}

#u1865-4,#u1865-6,#u1862-4,#u1862-6,#u1862-8
{
	font-size: 24px;
}

#pu1870-16
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 12px;
	position: relative;
}

#u1870-16
{
	z-index: 12;
	width: 348px;
	min-height: 822px;
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1870-16.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 822px;
	margin: 0px -10000px 0px 0px;
}

#u1870
{
	font-size: 30px;
}

#u1870-7,#u1870-8
{
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1870-2,#u1870-3,#u1870-4,#u1870-6,#u1870-10,#u1870-12
{
	font-size: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1870-14
{
	font-size: 18px;
}

#u1871-3
{
	z-index: 51;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 447px;
}

#u1872
{
	z-index: 54;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 11px;
}

#u1867
{
	z-index: 55;
	width: 249px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 49px;
}

#u1876
{
	z-index: 57;
	width: 171px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 88px;
}

#u1884
{
	z-index: 59;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 11px;
}

#page .verticalspacer
{
	clear: both;
}

